hr {
    width:70%;
    height:0%;
    margin: 10px auto;
}

.atu-title{
  padding-top: 20px;
}

#atu-text {
    color: #2F4F4F;
    width: 60%;
    align-items:center;
    display:flex;
    justify-content: center;
    margin: 0%
}

.atu-images{
display: flex;
align-items: center;
text-align: center;
justify-content: center;
gap: 30px;
width: 70%;
margin-left: 15%;
padding-top: 30px;

}
.atu-img1{
  background-image: url(../../assets/image/monit_mapeamento.png);
   width: 200px;
   height: 200px ;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}


.atu-img2{
  background-image: url(../../assets/image/analise_impactos.png);
   width: 200px;
   height: 200px ;
   margin-left: 25% ;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;

}
.atu-img3{
  background-image: url(../../assets/image/estima_analise.png);
   width: 200px;
   height: 200px ;
   background-size: contain;
   margin-left: 20% ;
   background-position: center;
   background-repeat: no-repeat;


}
.atu-img4{
  background-image: url(../../assets/image/feno.png);
   width: 200px;
   height: 200px ;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;

}

.btn{
  color: var(--color-2);
  background-color: var(--color-6);
  border: none;
  border-radius: 200px;
  margin-top: 30px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 20px
}


.btn-projeto{
  display: flex;
  background-position: center;
  align-items: center;
  background-color: var(--color-6);
  border: none;
  border-radius: 200px;
  margin-left: 45%;
  margin-top: 150px;
  width: 150px;
  height: 50px;
  text-align: center;

  }
  .btn-name{
    text-decoration: none;
    margin: 25%;
    font-size: 20px;
    color: var(--color-2);
  }

  
  
