:root{
    --color-1: #2F4F4F;
    --color-2: #ffffff;
    --color-3: #000000;
    --color-4: #efecec;
    --color-5: #245C4D;
    --color-6: #0574BB;
}

main{
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
}

.co-title-line{
    width:100%;
    height:1px;
    background-color:#333;
    margin: 10px auto 0;
    border-radius:2px;
    margin-bottom: 1rem;
}

iframe{
    border-radius: 30px;
    margin-bottom: 10px;
}

.co-form-content{
    margin-left: 10%;
    width: 80%;
    background-color: var(--color-4);
    border-radius: 30px;
    height: 700px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.co-form-left{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.co-form-right{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: var(--color-6);
    height: 700px;
    border-radius: 30px;

}

.co-social-media{
    display: flex;
    width: 100%;
    justify-content: center;
}

.co-linkedin{
    background-image: url(../../assets/svg/Linkedin-verde.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
}

.co-instagram{
    background-image: url(../../assets/svg/Instagram-verde.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
}

form .co-form-title{
    width: 100%;
    text-align: center;
    color: var(--color-2);
    margin-bottom: 30px;
}

form{
    display: flex;
    flex-direction: column;
    height: 700px;
    justify-content: center;
}

input{
    border-radius: 10px;
    margin-bottom: 10px;
    height: 40px;
    background-color: var(--color-4);
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}

textarea{
    border-radius: 10px;
    height: 300px;
    background-color: var(--color-4);
    padding-left: 10px;
    padding-right: 10px;
}

button{
    height: 40px;
    border-radius: 20px;
    width: 100px;
    background-color: var(--color-2);
    border: none;
}

.co-button{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
}

.co-form-left p{
    margin-bottom: 10px;
}
