.cr-title{
    color: #2F4F4F;
    width: 80%;
    align-items:baseline;
    display:flex;
    flex-direction: column;
}
.cr-main {
    display: flex;
     justify-content: center;
}

.cr-title hr {
  border-color:#000000;
  box-sizing:border-box;
  width:100%;

}   
.formflex{
  display: flex;
  padding: 15px;
  margin-left: 5%;
  margin-right: 10%;
  border-style: none;
  
}
  .cr-formleft, .cr-formright{
  flex: 1; 
  padding: 20px;
  flex-direction: column;
  display: flex;
  margin-left: 3%;
  }

  .cr-formright{
   margin-left: auto;
  
  }
  
input[type="file"] { 
   display: none; 
}

#bt {
   
   padding: 5px;
   color: white;
   margin-top: 15px;
   background-color: #2F4F4F;
   border-radius:10px;
border-color: #2F4F4F;
margin-right: 40%;
}
  
    
.cr-formdown{
    justify-content: center;
    width: 80%;
    align-items:baseline;
    display:flex;
    flex-direction: column;
    margin-left:10%;
}

#titulo,#autor,#lead,#dat{
border-radius:10px;
border-color: #2F4F4F;

}
#tpub,#conteudo,#btp{
  border-radius:10px;
border-color: #2F4F4F;

}
#btp{
  background-color: #2F4F4F;
  color: white;
}
