.no-title {
    color: #2F4F4F;
    width: 80%;
    align-items:baseline;
    display:flex;
    
    flex-direction: column;
    
}

.no-text  {
flex: 4;

}
.no-lf{
   border-color:#000000;
  box-sizing:border-box;
  width: 70%;  
  opacity: 50%;
  margin-left: 15%;
  
  

}
.no-content  {
    width: 60%;
    align-items: center;
    display:flex;
    justify-content: center;
    margin-left: 15%;
    
}
 .no-title hr {
  border-color:#000000;
  box-sizing:border-box;
  width:100%;

}
.no-main {
    display: flex;
     justify-content: center;
}
.no-img1{
    background-image: url(../../assets/image/pc_home_carrosel2.webp);
   width: 100px;
   height: 110px ;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   flex: 1;
}
   .no-img2{
    background-image: url(../../assets/image/pc_home_carrosel4.webp);
   width: 100px;
   height: 100px ;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   flex: 1;
}

 .no-img3{
    background-image: url(../../assets/image/pc_home_carrosel5.webp);
   width: 100px;
   height: 110px ;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   flex: 1;
}
.no-img4{
    background-image: url(../../assets/image/pc_home_carrosel7.webp);
   width: 100px;
   height: 99px ;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   flex: 1;
}
.no-img5{
    background-image: url(../../assets/image/pc_home_carrosel9.webp);
   width: 100px;
   height: 102px ;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   flex: 1;
}


.no-sub{
    color: #2F4F4F;
}

.no-button {
  color: #ffffff;
  background-color:#2F4F4F;
  border-radius: 25px;
  border: none;
  outline: none;
  padding: 5px 15px;
  float:right;
  
  
  cursor: pointer;
  
  transition: all 0.3s ease-in-out;
}

.no-button:hover {
  background-color:#2F4F4F;

      

}

.no-buttons{
    width: 85%;
    
}

a{
  text-decoration: none;
}

@media (max-width: 1280px) {
    .no-content {
        flex-direction: column;
        width: 90%;
        margin-left: 5%;
    }
    .no-img1, .no-img2, .no-img3, .no-img4, .no-img5 {
        width: 80;
        height: auto;
        margin-bottom: 5px;
    }
    .no-text {
        text-align: center;
    }
    .no-lf {
        width: 90%;
        margin-left: 5%;
    }
}