.no-title {
    color: #2F4F4F;
    width: 80%;
    align-items:baseline;
    display:flex;
    
    flex-direction: column;
    
}

.no-text  {
flex: 4;

}
.no-lf{
   border-color:#000000;
  box-sizing:border-box;
  width: 70%;  
  opacity: 50%;
  margin-left: 15%;
  
  

}
.no-content  {
    width: 60%;
    align-items: center;
    display:flex;
    justify-content: center;
    margin-left: 15%;
    
}
 .no-title hr {
  border-color:#000000;
  box-sizing:border-box;
  width:100%;

}
.no-main {
    display: flex;
     justify-content: center;
}
.no-img{
    background-image: url(../../assets/image/Inpelogo.png);
   width: 100px;
   height: 100px ;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   flex: 1;
}
.no-sub{
    color: #2F4F4F;
}

.no-button {
  color: #ffffff;
  background-color:#2F4F4F;
  border-radius: 25px;
  border: none;
  outline: none;
  padding: 5px 15px;
  float:right;
  
  
  cursor: pointer;
  
  transition: all 0.3s ease-in-out;
}

.no-button:hover {
  background-color:#2F4F4F;

      

}

.no-buttons{
    width: 85%;
    
}
