@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
 --font: "PT Sans", sans-serif;
}

:root{
    --color-1: #2F4F4F;
    --color-2: #ffffff;
    --color-3: #000000;
    --color-4: #efecec;
    --color-5: #245C4D;
    --color-6: #0574BB;

}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;

    font-family: var(--font);
    min-height: 100vh;
  }
  
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    10. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  header{
    padding-top: 10px;
    width: 100%;
  }
  .content-header{
    width: 70%;
    display: flex;
    justify-content: center;
    margin-left: 15%;
  }
  .options{
    flex: 9;
    display: flex;
    justify-content: space-around;
  }
  .logo{
    flex: 1;
    height: 70px;
    background-image: url(../assets/image/Logo.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .box{
    flex: 1;
    height: 100%; 
  }
  header a{
    flex: 1;
    text-decoration: none;
    height: 70px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .selected-box{
    flex: 1;
    height: 100%;
  }
  .selected-box a{
    background-color: var(--color-1);
    color: var(--color-2);
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .box a{
    background-color: var(--color-2);
    color: var(--color-3);
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .content-header hr{
    height: 50px;
    width: 2px;
    border: none;
    background-color: var(--color-1);
    margin-top: 12px;
  }
  .center{
    display: flex;
    justify-content: center;
  }
  .center hr{
    margin-top: 10px;
    width: 90px;
    height: 2px;
  }

  .box .center hr{
    display: none;
    margin-top: 10px;
    width: 90px;
    height: 2px;
  }

  .footer{
    background-color: #2F4F4F;
    position: fixed;
    bottom:0%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

/* Footer básico */
footer {
  background-color: #f1f1f1;
  padding: 0px;
  text-align: center;
  color: #ffffff;

}

.dev-team{
  text-align: left;
  opacity: 0.5;
  
}

.infos{
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 0px;
}
.social-midia{
  display: flex;
  justify-content: space-between;
  width: 70px;
}
.footer hr{
  width: 80%;
}
.footer-options a{
  text-decoration: none;
  color: #ffffff;
}
.footer-options{
  display: flex;
justify-content: space-between;
width: 35%;
margin-bottom: 0.5px;
margin-top: 5px;
}
.footer-title{
  font-size: 20px;
  margin-top: 15px;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: var(--color-4);
  width: 220px;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.box:hover .dropdown-content{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  width: 175px;
}
.dropdown-content a{
  background-color: var(--color-4);
  padding-top: 5px;
  padding-bottom: 5px;
}
.box a:hover{
  background-color: var(--color-5);
  color: var(--color-4);
}
.dropdown-content a:hover{
  background-color: var(--color--4);
  color: var(--color-3);
}